@charset "utf-8";

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.384);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #012030;
    text-align: center;
}

h2{
    color: #13678A;
    text-shadow: 1px 1px 2px #13668a57;
}

p{
    text-align: justify;
}
